<div class="navbar navbar-inverse" role="navigation" style="opacity:0.2;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=.navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="font-family:'Oleo Script Swash Caps';font-size:36px;"> foodAirline </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/" style="font-family:'Permanent Marker';font-size:25px;">
                        Home
                    </a>
                </li>
                <li>
                    <a href="/meals" style="font-family:'Permanent Marker';font-size:25px;">
                        Meals
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li style="color:#FFFACC;padding:15px;font-family:'Secular One';font-size:18px;">
                    {{ current_user.username }}
                </li>
                <li>
                    <a href="{{ url_for('auth.logout') }}" style="font-family:'Secular One';font-size:18px;">
                        Sign out
                    </a>
                </li>
                {% else %}
                <li>
                    <a href="{{ url_for('auth.login') }}" style="font-family:'Secular One';font-size:18px;">
                        Sign in
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>