<body>
    <div class="container meal">
      <div class="productImage mealImg"></div>
      <div class="name mealName">
        <h4>Package</h4>
        <ul>
          <li>Chips</li>
          <li>Kuku</li>
          <li>Soda</li>
        </ul>
      </div>
      <div class="price mealPrice">
        <h4>PRICE</h4>
        <span>Ksh 400</span>
      </div>
      <div class="recommendation">
        <h4>RECOMMENDATION</h4>
        <ul>
          <li><span class="for-two"></span></li>
          <li><span class="for-four"></span></li>
        </ul>
      </div>
      <div class="productName packageName">
        Big Baba
      </div>
    </div>
    <!-- <div class="credits">
          Based on a<a target="_blank" href="https://dribbble.com/shots/4894403-Product-info-hover"> Dribbble Shot</a>
      </div> -->
  </body>
  